.Toolbar {
    background-color: #1e262e;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    font-size: 16px;
}

.ToolbarNodeButton {
    display: inline-block;
    height: 100%;
    width: 70px;
    text-align: center;
    padding-top: 4px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--io-dim);
    transition: background-color 0.2s ease-out;
    cursor: pointer;
}
.ToolbarNodeButton:hover {
    background-color: var(--io-bright);
}

.ToolbarNodeButton.back {
    background-color: var(--back-dim);
}
.ToolbarNodeButton.back:hover {
    background-color: var(--back-bright);
}

.ToolbarNodeButton.front {
    background-color: var(--front-dim);
}
.ToolbarNodeButton.front:hover {
    background-color: var(--front-bright);
}

.ToolbarNodeButton.data {
    background-color: var(--data-dim);
}
.ToolbarNodeButton.data:hover {
    background-color: var(--data-bright);
}

.ToolbarNodeButton.edit {
    background-color: var(--edit-dim);
}
.ToolbarNodeButton.edit:hover {
    background-color: var(--edit-bright);
}

.ToolbarNodeButton.disabled,
.ToolbarNodeButton.disabled:hover {
    background-color: var(--io-dim);
    opacity: 0.5;
    cursor: default;
}