.recents > div {
    overflow: auto;
    display: block;
    width: 100%;
    padding: 8px 0;
    border-bottom: #ffffff20 solid 1px;
    cursor: pointer;
}

.recents > div:first-child {
    border-top: #ffffff20 solid 1px;
}

.recents > div:hover {
    background-color: #ffffff05;
}

.recents h1 {
    font-size: 18px;
    margin: 0;
}

.recents span {
    opacity: 0.6;
    font-size: 12px;
    float: left;
}

.recents small {
    opacity: 0.6;
    font-size: 10px;
    float: right;
}