.EventBlock {
    display: block;
    position: absolute;
    background-color: #F0F;
    color: #FFF;
    border: 1px solid #00000050;
    border-top: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    padding: 2px 7px;
    overflow: hidden;
    opacity: 0.8;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.EventBlock:hover {
    opacity: 1;
}

.EventBlock.error {
    background-color: #F00 !important;
    border: 1px solid #800 !important;
}

.EventBlock.small {
    padding: 0;
    font-size: 0;
}



.EventBlock.block-call {
    background-color: var(--graph-bright);
}
.EventBlock.block-edit {
    background-color: var(--edit-bright);
}
.EventBlock.block-in,
.EventBlock.block-out,
.EventBlock.block-io,
.EventBlock.block-remote {
    background-color: var(--io-bright);
}
.EventBlock.block-data {
    background-color: var(--data-bright);
}
.EventBlock.block-code {
    background-color: var(--back-bright);
}