.Sidebar {
    background-color: #1e262e;
    width: 300px;
    height: 100%;
    /*box-shadow: 0 0 30px #00000050;*/
    z-index: 100;

    border-right: #101419 1px solid;
    display: flex;
    flex-flow: column;

    overflow-y: auto;
}

.side-head h1 {
    margin: 0 0 5px 0;
}

.side-head small {
    font-style: italic;
    font-size: 12px;
}

.side-head {
    padding: 10px 10px 30px 10px;
}
