.Links {
    position: absolute;
    z-index: 50;
    background-color: #14191f;
}

.Link .link-interact {
    pointer-events: stroke;
    stroke-width: 12px;
    stroke: transparent;
    transition: stroke 0.1s ease-out;
}

.Link .link-visible {
    pointer-events: none;
    stroke-width: 5px;
    transition: stroke 0.1s ease-out, stroke-width 0.1s ease-out;
}

.Link.link-selected .link-interact {
    stroke: #ddd;
}

.Link.link-selected .link-visible {
    stroke-width: 7px;
}