.Collapse {
    height: 100%;
    display: block;
    width: 25px;
}

.Collapse::after {
    content: '>';
    float: right;
    margin-right: 6px;
}

.Collapse:hover {
    background-color: #ffffff10;
}

.Collapse.collapse-open::after {
    content: 'v';
}
