.Modal,
#modal-root {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#modal-root {
    pointer-events: none;
}

.Modal {
    animation: 0.2s forwards modal-show;
    animation-timing-function: ease-out;
    background-color: #00000050;
    opacity: 0;
    z-index: 10000;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #fff;
    pointer-events: all;
}

.modal-dialog {
    background-color: #28323e;
    box-shadow: 0 0 40px #00000070;
    max-width: 600px;
    width: 100%;
    min-height: 200px;
    max-height: 70vh;
    border-radius: 3px;
    pointer-events: all;
}

.modal-header {
    border-bottom: 1px solid #00000070;
    width: 100%;
    display: block;
    padding: 5px;
}

.modal-body {
    padding: 15px 5px 10px;
}

@keyframes modal-show {
    100% {
        padding-top: 0;
        opacity: 1;
    }
    0% {
        padding-top: 10px;
        opacity: 0;
    }
}