.Project {
    height: 300px;
    padding-top: 10px;
    flex-shrink: 0;
    width: 100%;

    border-right: #101419 1px solid;
    display: flex;
    flex-flow: column;
    box-shadow: #00000090 1px 1px 20px;
    z-index: 100;

    overflow-y: auto;
}

.side-head h1 {
    margin: 0 0 5px 0;
}

.side-head small {
    font-style: italic;
    font-size: 12px;
}

.side-head {
    padding: 10px 10px 30px 10px;
}
