body {
    --ui-spacing: 5px;
    --ui-indent: 10px;

    --ui-heading: #303d4c;
    --ui-background: #1e262e;
    --ui-highlight: #9ba9b7;
}

.ui-elem, .ui-line-elem {
    position: relative;
    display: block;
    margin: 0 0 var(--ui-spacing) 0px;
}

.ui-line-elem {
    height: 25px;
}

input.ui-line-elem, textarea.ui-elem, select.ui-line-elem {
    width: calc(100% - calc(2 * var(--ui-spacing)));
    margin-left: 5px;
    padding: 5px 8px;

    border-radius: 3px;
    border: 1px solid #323f4d;
    color: inherit;
    background-color: #00000030;
    outline: none !important;
    resize: vertical;
}

input.ui-line-elem:focus, textarea.ui-elem:focus, select.ui-line-elem:focus {
    border: 1px solid #4572a1;
}

textarea.ui-elem {
    min-height: 5em;
}


.danger {
    --ui-heading: #422;
    --ui-background: #211;
    color: #A55;
}