.Button button {
    background-color: var(--ui-heading);
    color: inherit;
    border: 1px solid #1e262e;
    border-radius: 3px;
    outline: none !important;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    height: 25px;
    min-width: 25px;
    margin-left: 5px;
    padding: 3px 10px;
    text-transform: uppercase;
    min-width: 60%;
    transition: all 0.1s ease-out;
}

.Button button:hover {
    background-color: #36485a;
    box-shadow: 1px 1px #00000030;
}

.Button {
    display: flex;
    justify-content: center;
}

.Button.button-submit button{
    border-color: var(--ui-highlight);
}